.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}
.right-section {
    margin-left: calc(100% / 3);
}

.section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}
.right-section-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    margin-left: calc(100% / 3);
    text-align: center;
}
.Main-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    margin-left: calc(185% / 3);
}
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

.error-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffe9e9;
    border: 1px solid #ffd4d4;
    border-radius: 5px;
}

.ranklist {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
/* Container for the navbar */
.sidebar-container {
    display: flex;
    flex-direction: column; /* Change the flex direction to column */
    justify-content: center; /* Centers the navbar vertically */
    align-items: flex-start; /* Aligns the navbar to the left */
    padding: 10px; /* Adds some padding around the navbar */
    background-color: #13057a; /* Background color for the container */
    border: 1px solid #0d0b8a; /* Border for the container */
    border-radius: 5px; /* Rounded corners for the container */
    width: 25%; /* Set the width to 25% of the page */
    height: 100vh; /* Set the height to the full vertical height of the page */
    position: fixed; /* Fix the position of the container */
    left: 0; /* Position the container to the left */
    top: 0; /* Position the container to the top */
}

/* Navbar itself */
.sidebar {
    display: flex;
    flex-direction: column; /* Change the flex direction to column */
    justify-content: center; /* Centers the links vertically */
    align-items: center; /* Centers the links horizontally */
    width: 100%;
    max-width: 800px; /* Maximum width for the navbar */
}
/* Individual links */
.sidebar a {
    text-decoration: none; /* Removes underline from links */
    padding: 10px 20px; /* Adds padding to the links */
    color: #e4d9e9; /* Text color for the links */
    border-radius: 5px; /* Rounded corners for the links */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Hover effect for links */
.sidebar a:hover {
    background-color: #ddd; /* Background color on hover */
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.white-text {
    text-align: center;
    color: white;
}